# -- Board: ColorLight-5A-75E-V71_(FT2232H)

# -- CLK
LOCATE COMP "clk" SITE "P6";
IOBUF  PORT "clk" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;
#FREQUENCY PORT "clk180" 100 MHZ;

# -- DEBUGLINE
LOCATE COMP "debugline[0]" SITE "P11";
IOBUF PORT "debugline[0]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- DEBUGLINE
LOCATE COMP "debugline[1]" SITE "P12";
IOBUF PORT "debugline[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- DEBUGLINE
LOCATE COMP "debugline[2]" SITE "N12";
IOBUF PORT "debugline[2]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- DEBUGLINE
LOCATE COMP "debugline[3]" SITE "P13";
IOBUF PORT "debugline[3]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- DEBUGLINE
LOCATE COMP "debugline[4]" SITE "N13";
IOBUF PORT "debugline[4]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- DEBUGLINE
LOCATE COMP "debugline[5]" SITE "P14";
IOBUF PORT "debugline[5]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- DEBUGLINE
LOCATE COMP "debugline[6]" SITE "M12";
IOBUF PORT "debugline[6]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- DEBUGLINE
LOCATE COMP "debugline[7]" SITE "M13";
IOBUF PORT "debugline[7]" PULLMODE=NONE IO_TYPE=LVCMOS33;

# -- LED
LOCATE COMP "led[0]" SITE "A11";
IOBUF PORT "led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- LED
LOCATE COMP "led[1]" SITE "A12";
IOBUF PORT "led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- LED
LOCATE COMP "led[2]" SITE "B11";
IOBUF PORT "led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33;

# -- SDRAM_RAS_N
LOCATE COMP "SDRAM_RAS_N" SITE "B16";
IOBUF PORT  "SDRAM_RAS_N" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- SDRAM_CAS_N
LOCATE COMP "SDRAM_CAS_N" SITE "G16";
IOBUF PORT  "SDRAM_CAS_N" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- SDRAM_WE_N
LOCATE COMP "SDRAM_WE_N" SITE "A15";
IOBUF PORT  "SDRAM_WE_N" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- SDRAM_CS_N
LOCATE COMP "SDRAM_CS_N" SITE "A14";
IOBUF PORT  "SDRAM_CS_N" PULLMODE=NONE IO_TYPE=LVCMOS33;

# -- SDRAM_CLK
LOCATE COMP "SDRAM_CLK" SITE "R15";
IOBUF PORT  "SDRAM_CLK" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "SDRAM_CLK" 100 MHZ;
# -- SDRAM_CKE
LOCATE COMP "SDRAM_CKE" SITE "L16";
IOBUF PORT  "SDRAM_CKE" PULLMODE=NONE IO_TYPE=LVCMOS33;
#FREQUENCY PORT "SDRAM_CKE" 25 MHZ;

# -- SDRAM_DQML
LOCATE COMP "SDRAM_DQML" SITE "C16";
IOBUF PORT  "SDRAM_DQML" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- SDRAM_DQMH
LOCATE COMP "SDRAM_DQMH" SITE "T15";
IOBUF PORT  "SDRAM_DQMH" PULLMODE=NONE IO_TYPE=LVCMOS33;

# -- SDRAM_A
LOCATE COMP "SDRAM_A[0]" SITE "H15";
IOBUF PORT  "SDRAM_A[0]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- SDRAM_A
LOCATE COMP "SDRAM_A[1]" SITE "B13";
IOBUF PORT  "SDRAM_A[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- SDRAM_A
LOCATE COMP "SDRAM_A[2]" SITE "B12";
IOBUF PORT  "SDRAM_A[2]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- SDRAM_A
LOCATE COMP "SDRAM_A[3]" SITE "J16";
IOBUF PORT  "SDRAM_A[3]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- SDRAM_A
LOCATE COMP "SDRAM_A[4]" SITE "J15";
IOBUF PORT  "SDRAM_A[4]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- SDRAM_A
LOCATE COMP "SDRAM_A[5]" SITE "R12";
IOBUF PORT  "SDRAM_A[5]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- SDRAM_A
LOCATE COMP "SDRAM_A[6]" SITE "K16";
IOBUF PORT  "SDRAM_A[6]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- SDRAM_A
LOCATE COMP "SDRAM_A[7]" SITE "R13";
IOBUF PORT  "SDRAM_A[7]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- SDRAM_A
LOCATE COMP "SDRAM_A[8]" SITE "T13";
IOBUF PORT  "SDRAM_A[8]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- SDRAM_A
LOCATE COMP "SDRAM_A[9]" SITE "K15";
IOBUF PORT  "SDRAM_A[9]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- SDRAM_A
LOCATE COMP "SDRAM_A[10]" SITE "A13";
IOBUF PORT  "SDRAM_A[10]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- SDRAM_A
LOCATE COMP "SDRAM_A[11]" SITE "R14";
IOBUF PORT  "SDRAM_A[11]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- SDRAM_A
LOCATE COMP "SDRAM_A[12]" SITE "T14";
IOBUF PORT  "SDRAM_A[12]" PULLMODE=NONE IO_TYPE=LVCMOS33;

# -- SDRAM_BA
LOCATE COMP "SDRAM_BA[0]" SITE "G15";
IOBUF PORT  "SDRAM_BA[0]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- SDRAM_BA
LOCATE COMP "SDRAM_BA[1]" SITE "B14";
IOBUF PORT  "SDRAM_BA[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;

# -- SDRAM_DQ
LOCATE COMP "SDRAM_DQ[0]" SITE "F16";
IOBUF PORT  "SDRAM_DQ[0]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- SDRAM_DQ
LOCATE COMP "SDRAM_DQ[1]" SITE "E15";
IOBUF PORT  "SDRAM_DQ[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- SDRAM_DQ
LOCATE COMP "SDRAM_DQ[2]" SITE "F15";
IOBUF PORT  "SDRAM_DQ[2]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- SDRAM_DQ
LOCATE COMP "SDRAM_DQ[3]" SITE "D14";
IOBUF PORT  "SDRAM_DQ[3]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- SDRAM_DQ
LOCATE COMP "SDRAM_DQ[4]" SITE "E16";
IOBUF PORT  "SDRAM_DQ[4]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- SDRAM_DQ
LOCATE COMP "SDRAM_DQ[5]" SITE "C15";
IOBUF PORT  "SDRAM_DQ[5]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- SDRAM_DQ
LOCATE COMP "SDRAM_DQ[6]" SITE "D16";
IOBUF PORT  "SDRAM_DQ[6]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- SDRAM_DQ
LOCATE COMP "SDRAM_DQ[7]" SITE "B15";
IOBUF PORT  "SDRAM_DQ[7]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- SDRAM_DQ
LOCATE COMP "SDRAM_DQ[8]" SITE "R16";
IOBUF PORT  "SDRAM_DQ[8]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- SDRAM_DQ
LOCATE COMP "SDRAM_DQ[9]" SITE "P16";
IOBUF PORT  "SDRAM_DQ[9]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- SDRAM_DQ
LOCATE COMP "SDRAM_DQ[10]" SITE "P15";
IOBUF PORT  "SDRAM_DQ[10]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- SDRAM_DQ
LOCATE COMP "SDRAM_DQ[11]" SITE "N16";
IOBUF PORT  "SDRAM_DQ[11]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- SDRAM_DQ
LOCATE COMP "SDRAM_DQ[12]" SITE "N14";
IOBUF PORT  "SDRAM_DQ[12]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- SDRAM_DQ
LOCATE COMP "SDRAM_DQ[13]" SITE "M16";
IOBUF PORT  "SDRAM_DQ[13]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- SDRAM_DQ
LOCATE COMP "SDRAM_DQ[14]" SITE "M15";
IOBUF PORT  "SDRAM_DQ[14]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- SDRAM_DQ
LOCATE COMP "SDRAM_DQ[15]" SITE "L15";
IOBUF PORT  "SDRAM_DQ[15]" PULLMODE=NONE IO_TYPE=LVCMOS33;
